/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
<<<<<<< HEAD
.nav-links {
    color: white;
    background-color: black;
}
=======


<<<<<<< HEAD
=======
>>>>>>> 3f4b74e3b549f801f9bcafd90fa13d8ebef62fac
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


>>>>>>> e60a743ed34b5c1bc5e15e9ef73444aaa9ee6391
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom:10px;
}
<<<<<<< HEAD
.footer {
  
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.mycontainer{
    background-color: black;
}
=======


/* FOOTER START*/
.footer-area {
    padding-top: 40px;
    background-color: #222222;
}

h6 {
    color: white;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

a {
    padding-right: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-social i {
    color: blue;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
    .footer-social {
        text-align: left;
    }
}

.single-footer-widget input {
    border: none;
    width: 80%;
    font-weight: 300;
    background: #191919;
    color: white;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
}

.single-footer-widget p {
    color: grey;
}

.single-footer-widget .bb-btn {
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    z-index: 9999;
    cursor: pointer;
}

.single-footer-widget .info {
    position: absolute;
    margin-top: 20%;
    color: #fff;
    font-size: 12px;
}

.single-footer-widget .click-btn {
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 12px;
    border: 0;
}

@media (max-width: 991px) {
    .single-footer-widget {
        margin-bottom: 30px;
    }
}

.footer-text {
    padding-top: 80px;
}

    .footer-text a,
    .footer-text i {
        color: white;
    }

.whole-wrap {
    background-color: #fff;
}
<<<<<<< HEAD
/*footer end*/
=======

>>>>>>> 3f4b74e3b549f801f9bcafd90fa13d8ebef62fac
>>>>>>> e60a743ed34b5c1bc5e15e9ef73444aaa9ee6391
